body{
  background : rgb(0, 189, 242);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
*{
  text-align: center;
}

h1{
  font-size : 32px;
  font-family: 'Orbitron', sans-serif;

}


.imgPerfil{
  background-image: url(../resources/img/perfil.png);
  width: 100px;
  height: 100px;
  display: block;
  background-position: center;
  background-size: contain;
  border-radius: 100%;
}
.cards{
  max-width: 500px;
  width: 100%;
  height: auto;
  display: block;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.card{
height: 80px;
  background-image: url(../resources/img/plantilla.png);
  background-position: left;
  background-color: rgb(216, 219, 218);
  background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
  border: 1px solid white;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.card .icono {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background-position: center;
  background-size: contain;
  background-size: 60%;
}

.card .twitter{
  background-image: url(../resources/rrss/twitter.png);
}

.card .instagram{
  background-image: url(../resources/rrss/instagram.png);
}

.card .twitch{
  background-image: url(../resources/rrss/twitch.png);
}

.card .tiktok{
  background-image: url(../resources/rrss/tiktok.png);
}

.card .discord{
  background-image: url(../resources/rrss/discord.png);
}

.card .regalo{
  background-image: url(../resources/rrss/present.png);
}





.card .texto {
  padding-left: 80px;
  width: 100%;
}